<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.sjlt.androidgeofences">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required if your app targets Android 10 (API level 29) or higher -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GeofencesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".RequestPermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- launchMode="singleTask" required for static Handler -->

        <activity
            android:name=".DisplayLocationActivity"
            android:label="@string/title_activity_display_location"
            android:launchMode="singleTask" />

        <activity
            android:name=".FenceEventsActivity"
            android:label="@string/title_activity_fence_events"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayLocationActivity" />
        </activity>

        <activity
            android:name=".ShowLocationActivity"
            android:label="@string/title_activity_show_location" />

        <receiver android:name=".GeofenceBroadcastReceiver" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
            API Key for viewing location in a map
            This is held in
            AndroidGeofencing/../secrets/AndroidGeofences.properties
            Note that manifestPlaceholders do not work in manifests!
            They do work in string resource files so we need an additional
            level of indirection.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>